html,
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.9rem;
}

body {
  overflow-x: hidden;
}

.bg-body {
  background-color: #eae9e9;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}

.page-title {
  font-weight: 300;
  letter-spacing: 2px;
}

/* File Input */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: block;
  overflow: hidden;
  border: 1px solid #ced4da;
  padding: 0;
  background-color: #ffffff;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label svg {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

.inputfile + label span,
.inputfile + label div {
  padding: .5rem .75rem;
}

.inputfile + label span {
  min-height: 2rem;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
}

.inputfile + label div {
  height: 100%;
  display: block;
}

@media screen and (max-width: 540px) {
  .inputfile + label {
    display: block !important;
  }

  .inputfile + label div {
    display: block;
  }
}

/* Canvas */
.canvas {
  max-width: 100%;
}

.form-control {
  border-radius: 0;
}

/* Inputs */
input[type="color"],
.settings-button {
  width: 30px;
  height: 30px;
  margin: 0 2px;
  padding: 0;
  border: 0;
  line-height: 1;
  cursor: pointer;
}

.custom-select {
  border-radius: 0;
}

/* input[type="number"] {
  max-width: 80px;
} */

/* Buttons */
.btn {
  border-radius: 0;
}

.btn:disabled {
  cursor: not-allowed;
}

.settings-button {
  background-image: url(../assets/icons/gear.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

#captureUserMediaBtn {
  width: 60px;
  height: 60px;
  margin-top: 1rem;
  border-radius: 50%;
  background-image: url('../assets/icons/camera.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

#captureUserMediaBtn[disabled] {
  background-image: none;
}

#captureUserMediaBtn:not([disabled]) .spinner-border {
  display: none;
}

.btn-outline-secondary:hover svg path,
.btn-outline-dark:hover svg path {
  transition: fill .15s ease-in-out;
}

.btn-outline-secondary:hover svg path,
.btn-outline-dark:hover svg path {
  fill: #ffffff;
}

/* Modal */
.modal {
  background: rgba(0, 0, 0, 0.7);
}

/* Misc */
#inputsContainer {
  flex: 1;
}

#inputsContainer:empty {
  display: none;
}

#canvasPlaceholder div {
  min-height: 150px;
  height: 100%;
  border: 3px dashed #dee2e6;
  font-size: 1.2rem;
}

.text-underline {
  text-decoration: underline;
}

.errorsContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1051;
  pointer-events: none;
}

.errorsContainer .alert {
  pointer-events: all;
}
