:root {
  --body-color: #212529;
  --move-btn-width: 60px;
  --move-btn-height: 34px;
  --focus-ring: 0 0 0 0.2rem #268fff80;

  accent-color: var(--bs-primary);
  font-size: 14px;
}

:not(:defined) {
  display: none !important;
}

body {
  overflow-x: hidden;
  background-color: #eae9e9;
}

[hidden] {
  display: none !important;
}

a:focus-visible,
details summary:focus-visible {
  outline: 0;
  border-radius: var(--bs-border-radius);
  box-shadow: var(--focus-ring);
  transition: box-shadow 0.15s ease-in-out;
}

.container {
  max-width: 1400px;
}

.site-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
  margin: 3rem 0.5rem;
  text-align: center;
}

.page-title {
  font-weight: 300;
  margin-bottom: 0;
}

/* Canvas */
.canvas {
  display: block;
  max-width: 100%;
}

/* Inputs */
.textboxes-container input[type="color"],
.settings-button,
.duplicate-button {
  min-width: 30px;
  width: 30px;
  height: 30px;
  margin: 0 2px;
  padding: 0;
  line-height: 1;
  cursor: pointer;
}

.textboxes-container .meme-text {
  min-width: 0;
  min-height: calc(1.5em + 0.75rem + 2px);
  max-height: 200px;
  height: calc(1.5em + 0.75rem + 2px);
  margin: 0.5rem;
}

#maxImageDimensionsForm select:disabled {
  text-indent: -9999px;
  opacity: 0.7;
}

/* Buttons */
.settings-button {
  background-image: url(../assets/icons/gear.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 64%;
}

.clear-canvas-button {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.375rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;
}

.dropzone:hover .clear-canvas-button {
  opacity: 1;
  visibility: visible;
}

/* Misc */
.textboxes-container {
  flex: 1;
}

.textboxes-container:empty {
  display: none;
}

.instructions {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  height: 100%;
  padding: 1rem;
  text-align: center;
  text-wrap: balance;
}

.errors-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1051;
  pointer-events: none;
}

.errors-container .alert {
  pointer-events: all;
}

details > summary {
  transition: margin 0.1s ease-out;
}

details[open] > summary {
  margin-bottom: 0.5rem;
}

button[data-button="duplicate-text-box"],
button[data-button="delete-text-box"] {
  width: 28px;
  min-width: 28px;
  height: 28px;
  padding: 0;
  margin-inline-start: 0.5rem;
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}

button[data-button="duplicate-text-box"] {
  background-image: url(../assets/icons/duplicate.svg);
  background-size: 70%;
}

button[data-button="delete-text-box"] {
  background-image: url(../assets/icons/trash.svg);
  margin-inline-start: 0.25rem;
}

/* Gallery */
.gallery {
  display: flex;
  gap: 0.5rem;
  margin: 0;
  padding: 0.25rem 0;
  overflow-x: auto;
  min-height: 112px;
  scroll-behavior: smooth;
}

.gallery > button {
  padding: 0;
  cursor: pointer;
}

.gallery > button > img {
  display: block;
  min-width: 88px;
  height: 88px;
  border-radius: var(--bs-border-radius);
  object-fit: cover;
}

.gallery__no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
}

/* Move text actions */
.move-text-actions {
  position: relative;
  width: calc(var(--move-btn-width) * 3);
  height: calc(var(--move-btn-height) * 2);
  margin: 0 auto;
}

.move-text-actions > button {
  position: absolute;
  width: var(--move-btn-width);
  height: var(--move-btn-height);
  background-position: center;
  background-repeat: no-repeat;
}

/* UP */
.move-text-actions > [aria-label="Up"] {
  top: -1px;
  left: var(--move-btn-width);
  background-image: url(../assets/icons/chevron-up.svg);
}

/* DOWN */
.move-text-actions > [aria-label="Down"] {
  top: calc(var(--move-btn-height) + 1px);
  left: var(--move-btn-width);
  background-image: url(../assets/icons/chevron-down.svg);
}

/* LEFT */
.move-text-actions > [aria-label="Left"] {
  top: calc(var(--move-btn-height) / 2);
  left: -2px;
  background-image: url(../assets/icons/chevron-left.svg);
}

/* RIGHT */
.move-text-actions > [aria-label="Right"] {
  top: calc(var(--move-btn-height) / 2);
  left: calc(var(--move-btn-width) * 2 + 2px);
  background-image: url(../assets/icons/chevron-right.svg);

}

/* capture-photo */
capture-photo:not(:defined) {
  display: none;
}

capture-photo {
  overflow: hidden;
}

capture-photo::part(video) {
  width: 100%;
  background-color: #000000;
}

capture-photo::part(actions-container) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0;
}

capture-photo::part(capture-button),
capture-photo::part(facing-mode-button) {
  text-indent: -9999px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.30);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

capture-photo::part(capture-button) {
  width: 70px;
  height: 70px;
  background-image: url(../assets/icons/aperture.svg);
  background-size: 90%;
  background-color: #c2c3c7;
  border: 5px solid #ffffff;
}

capture-photo::part(facing-mode-button) {
  margin-right: calc(-50px - 2rem); /* facing mode button width + actions buttons gap */
  width: 50px;
  height: 50px;
  background-image: url(../assets/icons/camera-reverse.svg);
  background-size: 60%;
  background-color: #ffffff;
  border: 0;
}

capture-photo[loading]::part(video) {
  background-image: url(../assets/icons/spinner.svg);
  background-size: 60px;
  background-position: center center;
  background-repeat: no-repeat;
}

capture-photo[loading]::part(capture-button),
capture-photo[loading]::part(facing-mode-button) {
  opacity: 0.6;
  pointer-events: none;
}

/* Modal */

modal-element {
  --me-width: fit-content;
  --me-border-radius: var(--bs-border-radius);
  --me-border-width: 0;
  --me-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.30);
}

#videoModal {
  --me-width: 600px;
}

#downloadModal {
  --me-width: 900px;
}

modal-element::part(base):focus-visible {
  outline: 0;
}

modal-element [slot="header"] {
  margin: 0;
  color: var(--body-color);
}

modal-element::part(close) {
  color: var(--body-color);
  border-radius: var(--bs-border-radius);
  transition: box-shadow 0.15s ease-in-out;
}

modal-element::part(close):focus-visible {
  outline: 0;
  box-shadow: var(--focus-ring);
}

modal-element::part(body) {
  padding-block: 0;
}

modal-element [slot="footer"] {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  flex-wrap: wrap;
  text-align: center;
}

/* Files dropzone */
.dropzone {
  --dropzone-border-color: var(--bs-secondary);
  --dropzone-border-color-hover: var(--bs-primary);
  --dropzone-border-color-dragover: var(--bs-primary);
  --dropzone-background-color-hover: var(--bs-light);
  --dropzone-background-color-dragover: var(--bs-light);
  --dropzone-focus-box-shadow: var(--focus-ring);

  position: relative;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .dropzone {
    position: sticky;
    top: 0.25rem;
  }
}

.dropzone:not(.dropzone--accepted) {
  max-height: 36rem;
}

.dropzone--accepted {
  width: fit-content;
  height: fit-content;
}

.dropzone::part(dropzone) {
  height: 100%;
  padding: 0;
}

.dropzone[disabled]::part(dropzone) {
  opacity: 1;
  cursor: default;
}

/* Emoji picker */
.emoji-picker-details {
  margin-bottom: 0.5rem;
  background-color: var(--bs-gray-200);
  border-radius: var(--bs-border-radius);
}

.emoji-picker-details > summary {
  padding: 0.5rem 1rem;
  background-color: var(--bs-gray-300);
  border: 1px solid var(--bs-gray-300);
  border-radius: var(--bs-border-radius);
  cursor: pointer;
}

.emoji-picker-details[open] > summary {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

emoji-picker {
  --border-color: var(--bs-border-color);
  --background: #ffffff;
  --input-border-color: var(--bs-border-color);
  --input-border-radius: var(--bs-border-radius);
  --input-padding: 0.375rem 0.75rem;
  --outline-color: #0d6efd40;
  --outline-size: 4px;
  --indicator-color: var(--bs-primary);
  --button-hover-background: var(--bs-gray-300);

  width: 100%;
  height: 255px;
  border: 0;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

/* Utils */

.text-underline {
  text-decoration: underline;
}
